.catalog {
  display: grid;
  gap: 48px;
  box-sizing: border-box;
  justify-items: center;
  align-items: center;
  
  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

}

@media (min-width: 488px) {
  .catalog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .catalog {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(4, 1fr);
  }
}
