.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 48px;
  box-sizing: border-box;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

}

@media (max-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}

@media (max-width: 768px) {
  .catalog {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media (max-width: 576px) {
  .catalog {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (max-width: 488px) {
  .catalog {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}
